@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.main{
    margin-left: 50px;
    font-family: poppins;
}

span{
    color: #191970;
}

h1{
    font-size: 90px;
    width: 90%;
    margin-top: 5%;
}

h2{
    color: #DF143C;
    margin-top: 5%;
    font-style: italic;
}

h2:hover{
    color: #ec5b78;
}

.s3{
    margin-top: 5%;
}

/* .img{
    width: 20vw;
    height: 40vh;
    border-radius: 5%;
} */

img{
    width: 15vw;
    height: 30vh;
    border-radius: 5%;
}

.dd{
    display: flex;
    gap: 50px;
}

.div2{
    display: flex;
}

h3{
    font-size: 30px;
}

.p2{
    word-wrap: break-word;
    margin-left: 4%;
    margin-top: 5px;
}

p{
    margin-top: 20px;
}

button{
    margin-top: 10px;
    background-color: #191970;
    color: #fff;
    width: 30%;
    height: 40px;
    font-size: 17px;
    border: none;
}

button:hover{
    background-color: #7e7eb6;
}

.p3{
    color: #191970;
    margin-top: 50px;
    margin-left: 29%;
}


@media (max-width: 600px){
    .main{
        width: 100%;
    }

    .main, .dd, .div2{
        display: block;
    }

    h1{
        /* background-color: #191970; */
        width: 50%;
        text-align: center;
        margin-left: 20px;
    }

    h2{
        margin-top: 70px;
    }

    h3{
        font-size: 25px;
    }

    img{
        width: 100%;
    }

    .div2{
        margin-top: 50px;
        width: 50%;
    }

    .p3{
        width: 40%;
        /* background-color: #7e7eb6; */
        margin-left: 20%;
    }

    button{
        width: 40%;
        height: 30px;
    }

    p{
        margin-top: 10px;
    }
}